html * {
  font-family: Montserrat !important;
}
/* Navbar */
nav div  {
  color: white;
}
nav a  {
  color: white;
}
nav a:hover  {
  color: black;
}
nav {
  background-color: blue;
}


.parallax {
  background-image: url("../images/contact-us-main.jpg");
  min-height: 120%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  font-family: Montserrat;
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 35%;
  left: 50%;
  font-size: 50px;
  font-weight: bolder;
  filter: drop-shadow(2px 4px 6px black);
  transform: translate(-50%, -50%);
}

.grayDiv {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f4f4f4;
}

.heading {
  font-weight: 700;
  color: black;
  font-family: Montserrat;
}

.description {
  padding: 20px;
  font-weight: bold;
  font-family: Montserrat;
  color: gray;
  letter-spacing: 2px;
  line-height: 2;
}

.keyword {
  font-weight: 1000;
  color: black;
}
.dimg{
  -webkit-box-reflect: below 8px -webkit-gradient(linear, right top, right bottom, from(transparent), color-stop(40%, transparent), to(rgba(255, 255, 255, 0.4)));
  border-radius:25px;
}

.avatar {
  border-radius: 50%;
}

.whiteDiv {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f4f4f4;
}

.sub-title {
  font-size: 12;
}

/* footer */
.footer2 {
  padding: 40px;
  background-color: blue;
  color: white;
}

.footer2 a {
  color: #f4f4f4;
}

.footer2 a:hover {
  color:black;
}